.vscode
.metals
.bloop

project/metals.sbt

# sbt
project/project/
project/target/
target/
target

.ammonite
.bsp

out
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf